<section id="about-section" class="about-section py-5">
    <div class="container">
        <h2 class="section-heading text-center">Über uns</h2>
        <div class="section-intro text-center single-col-max mx-auto mb-5">Wer steckt hinter Tech2Talk?</div>
        <div class="row justify-content-center">
            {% for person in site.data.about-us %}
            <div class="item col-12 col-lg-4 p-3 mb-4">
                <div class="item-inner theme-bg-light rounded p-4">
                    <blockquote class="quote">
                        {{ person[1].bio }}
                    </blockquote><!--//item-->
                    <div class="source row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto text-center text-md-start">
                            <img class="source-profile" style="width:200px; border-radius: 50%;" src="assets/images/profiles/{{ person[1].img }}.jpg" alt="image" >
                        </div><!--//col-->
                        <div class="col source-info text-center text-md-start">
                            <div class="source-name">{{ person[0] }}</div>
                            <div class="soure-title">{{ person[1].company }}</div>
                        </div><!--//col-->
                    </div><!--//source-->
                    <div class="icon-holder"><i class="fas fa-quote-right"></i></div>
                </div><!--//inner-->
            </div><!--//item-->
            {% endfor %}
        </div><!--//row-->
        <div class="text-center">
            <a class="btn btn-primary" href="mailto:info@tech2talk.de">Kontaktiere uns</a>
        </div>
    </div><!--//container-->
</section>
