<section id="book-section" class="book-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Das Buch</h2>
            <div class="form-intro text-center mb-3">Für alle, die gerade keine Zeit für Workshops aufwenden möchten oder sich ihren ersten Vortrag in der eigenen Geschwindigkeit organisieren möchten, bietet das kompakte Buch unsere geballte Erfahrung zum Nachlesen. Auf der Seite des Buches findest du neben der Inhaltsangabe auch Leseproben und Stimmen von Lesern.</div>
            <div class="text-center">
                <a class="btn btn-primary" href="https://developeronthestage.com/" target="_blank">Besuche developeronthestage.com, die Seite zum Buch</a>
            </div>
        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->
