<section id="coachings-section" class="coachings-section">
		<div class="container">
			<div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
				<h2 class="form-heading text-center">Die Coachings</h2>
				<div class="form-intro text-center mb-3">Besonders bei bereits erfahrenen Speakern bringt der direkte Austausch mit anderen Vortragenden den größten Erkenntnisgewinn. Wir haben bereits viele Coachings für neue und erfahrene Speaker durchgeführt und unterstützen dich gern.</div>
				<div class="form-intro text-center mb-3">Schreib uns bei Interesse an den Coachings einfach eine Mail an <a href="mailto:info@tech2talk.de">info@tech2talk.de</a>!</div>
				<div class="form-intro text-center mb-3">
					Aktuelle Informationen und Links zur Teilnahme gibt es in unserem <b><a href="http://discord.developeronthestage.com/" target="_blank">Discord-Channel</a></b>.
				</div>
			</div>
<!--				<div class="text-center">-->
<!--					<a class="btn btn-primary" href="http://speakonf.de/" target="_blank">Weiter zur SpeaKonf</a>-->
<!--				</div>-->
			</div><!--//lead-form-wrapper-->
		</div><!--//container-->
	</section><!--//form-section-->
