<section id="community-section" class="community-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Die Community</h2>
            <div class="form-intro text-center mb-3">In unserem Discord-Kanal kannst du dich über deine Vortragsthemen austauschen, Feedback zu Titeln und Abstract einholen und dir allgemeine Tipps geben lassen.</div>
            <div class="text-center">
                <a class="btn btn-primary" href="http://discord.developeronthestage.com/" target="_blank">Discord</a>
            </div>
            <br/>
            <div class="form-intro text-center mb-3">Beim von Steven organisierten HackTalk kannst du als junger Speaker deine ersten Erfahrungen vor kleinem remote Publikum sammeln und bei der von Falk organisierten JUG Darmstadt vor Ort vor einer größeren Crowd.</div>
            <div class="text-center">
                <a class="btn btn-primary" href="https://hacktalk.de/" target="_blank">HackTalk</a>
            </div>
            <br/>
            <div class="text-center">
                <a class="btn btn-primary" href="https://www.jug-da.de/" target="_blank">JUG Darmstadt</a>
            </div>
            <br/>
            <div class="form-intro text-center mb-3">Unsere Veranstaltungen werden auch auf Meetup.com veröffentlicht, schaut doch mal rein und werdet Mitglied in der Gruppe, damit ihr keine Veranstaltung mehr verpasst:</div>
            <div class="text-center">
                <a class="btn btn-primary" href="https://www.meetup.com/tech2talk/" target="_blank">Meetup.com/tech2talk</a>
            </div>



        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->
