<section id="conference-partnerships-section" class="conference-partnerships-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Konferenz-Partnerschaften</h2>
            <div class="form-intro text-center mb-3">
                Wir sind selbst Organisatoren von Konferenzen und wissen deshalb, dass gut ausgebildete Speaker die Qualität einer Veranstaltung enorm verbessern können. Wir bieten für ausgewählte Konferenzen ein exklusives, umfangreiches Portfolio an unterstützenden Maßnahmen und Materialien an:</div>
            <div class="form-inner text-center mb-3">
                Unser <strong>Coaching</strong> kann als Workshop-Format an die Konferenz angepasst werden und so von einer Stunde bis zu einem Halbtages-Workshop und von wenigen Teilnehmern bis zu großen Gruppen durchgeführt werden.
            </div>
            <div class="form-inner text-center mb-3">
                Je nach Konzept und Möglichkeiten stehen wir und unsere Unterstützer auch selbst als <strong>Mentoren</strong> bereit.
            </div>
            <div class="form-inner text-center mb-3">
                Als besonderes Highlight bekommen Teilnehmer unseres Coachings eine <strong>kostenfreie, digitale Version des Buches "Developer on the Stage" von Steven Schwenke</strong>.
            </div>
            <div class="form-inner text-center mb-3">
                Weitere Mentoren unterstützen wir mit <strong>Materialien wie Checklisten, Visualisierungen</strong>.
            </div>
            <div class="form-inner text-center mb-3">
                <strong>Interessiert an einer Partnerschaft?</strong></div>
            <div class="form-inner text-center mb-3">
                <div class="text-center">
                    <a class="btn btn-primary" href="mailto:info@tech2talk.de?subject=Konferenz-Partnerschaft" target="_blank">Kontakt aufnehmen</a>
                </div>
            </div>

        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->
