<section id="author-section" class="author-section section theme-bg-primary py-5">
    <div class="container py-3">
        <div class="author-links text-center pt-4">
            <h5 class="text-white mb-4">Folge uns und werde Teil dieser Community.</h5>
            <ul class="social-list list-unstyled">
                <!--					    <li class="list-inline-item"><a href="https://twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i></a></li>-->
                <!--					    <li class="list-inline-item"><a href="https://github.com/{{site.github_username}}"><i class="fab fa-github-alt"></i></a></li> -->
                <li class="list-inline-item"><a href="mailto:{{site.email}}"><i class="fas fa-envelope"></i></a></li>
                <li class="list-inline-item"><a href="{{site.url}}" target="_blank"><i class="fas fa-globe-europe"></i></a></li>
            </ul><!--//social-list-->
        </div><!--//author-links-->

    </div><!--//author-bio-->

</section>
