<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 pt-5 mb-5 align-self-center">
                <div class="promo pe-md-3 pe-lg-5">
                    <h1 class="headline mb-3">
                        {{ site.title }}
                    </h1><!--//headline-->
                    <div class="subheadline mb-4">
                        {{ site.description }}

                    </div><!--//subheading-->
                    <div class="subheadline mb-4">
                        <b>
                            {{ site.special }}
                        </b>
                    </div><!--//subheading-->

                    <div class="hero-quotes mt-5">
                        <div id="quotes-carousel" class="quotes-carousel carousel slide carousel-fade mb-5" data-bs-ride="carousel" data-bs-interval="8000">
<!--                            <div class="carousel-indicators">-->
<!--                                <button type="button" data-bs-target="#quotes-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--                                <button type="button" data-bs-target="#quotes-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--                                <button type="button" data-bs-target="#quotes-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--                            </div>-->

<!--                            <div class="carousel-inner">-->
<!--                                <div class="carousel-item active">-->
<!--                                    <blockquote class="quote p-4 theme-bg-light">-->
<!--                                        "Excellent Book! Add your book reviews here consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae, auctor imperdiet nisi."-->
<!--                                    </blockquote>&lt;!&ndash;//item&ndash;&gt;-->
<!--                                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">-->
<!--                                        <div class="col-12 col-md-auto text-center text-md-start">-->
<!--                                            <img class="source-profile" src="assets/images/profiles/profile-1.png" alt="image" >-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                        <div class="col source-info text-center text-md-start">-->
<!--                                            <div class="source-name">James Doe</div>-->
<!--                                            <div class="soure-title">Co-Founder, Startup Week</div>-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                    </div>&lt;!&ndash;//source&ndash;&gt;-->
<!--                                </div>&lt;!&ndash;//carousel-item&ndash;&gt;-->
<!--                                <div class="carousel-item">-->
<!--                                    <blockquote class="quote p-4 theme-bg-light">-->
<!--                                        "Highly recommended consectetur adipiscing elit. Proin et auctor dolor, sed venenatis massa. Vestibulum ullamcorper lobortis nisi non placerat praesent mauris neque"-->
<!--                                    </blockquote>&lt;!&ndash;//item&ndash;&gt;-->
<!--                                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">-->
<!--                                        <div class="col-12 col-md-auto text-center text-md-start">-->
<!--                                            <img class="source-profile" src="assets/images/profiles/profile-2.png" alt="image" >-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                        <div class="col source-info text-center text-md-start">-->
<!--                                            <div class="source-name">Jean Doe</div>-->
<!--                                            <div class="soure-title">Co-Founder, Startup Week</div>-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                    </div>&lt;!&ndash;//source&ndash;&gt;-->
<!--                                </div>&lt;!&ndash;//carousel-item&ndash;&gt;-->
<!--                                <div class="carousel-item">-->
<!--                                    <blockquote class="quote p-4 theme-bg-light">-->
<!--                                        "Awesome! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod nunc porta urna facilisis tempor. Praesent mauris neque, viverra quis erat vitae."-->
<!--                                    </blockquote>&lt;!&ndash;//item&ndash;&gt;-->
<!--                                    <div class="source row gx-md-3 gy-3 gy-md-0 align-items-center">-->
<!--                                        <div class="col-12 col-md-auto text-center text-md-start">-->
<!--                                            <img class="source-profile" src="assets/images/profiles/profile-3.png" alt="image" >-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                        <div class="col source-info text-center text-md-start">-->
<!--                                            <div class="source-name">Andy Doe</div>-->
<!--                                            <div class="soure-title">Frontend Developer, Company Lorem</div>-->
<!--                                        </div>&lt;!&ndash;//col&ndash;&gt;-->
<!--                                    </div>&lt;!&ndash;//source&ndash;&gt;-->
<!--                                </div>&lt;!&ndash;//carousel-item&ndash;&gt;-->
<!--                            </div>&lt;!&ndash;//carousel-inner&ndash;&gt;-->
                        </div><!--//quotes-carousel-->

                    </div><!--//hero-quotes-->
                </div><!--//promo-->
            </div><!--col-->
            <div class="col-12 col-md-5 mb-5 align-self-center">
                <div class="book-cover-holder">
                    <img class="img-fluid book-cover" src="/assets/images/cover-3d.png" alt="book cover" >
                    <div class="book-badge d-inline-block shadow">
                        Buch<br/>zum Thema
                    </div>
                </div><!--//book-cover-holder-->
                <div class="text-center"><a class="theme-link scrollto" href="#about-section">Wer steckt dahinter?</a></div>
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->
