<section id="materials-section" class="materials-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Die Inhalte</h2>
            <div class="form-intro text-center mb-3">Schau dir völlig kostenfrei und ohne Registrierung einen Teil unserer Inhalte an. Vielleicht bekommst du Lust, die Ausarbeitung deines Vortrags damit zu beginnen?</div>
            <div class="text-center">
                <a class="btn btn-primary" href="https://www.youtube.com/channel/UCIzhZkgIFa5v2UlzAuGi8FQ" target="_blank">YouTube</a>
            </div>
        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->
