<section id="talks-section" class="talks-section">
    <div class="container">
        <div class="lead-form-wrapper single-col-max mx-auto theme-bg-light rounded p-5">
            <h2 class="form-heading text-center">Die Impulsvorträge</h2>
            <div class="form-intro text-center mb-3">Wir bieten bereits ausgearbeitete und auf diversen Konferenzen erprobte Vorträge an, in denen wir unser Wissen strukturiert und wiederholbar an unsere Teilnehmer vermitteln. Wenn du ein Event-Organisator bist und Interesse an diesen Vorträgen hast, <a href="mailto:info@tech2talk.de">kontaktiere uns einfach</a>!</div>
            <div class="text-center">
                <a class="btn btn-primary">Part 1:<br />Motivation, Themenfindung, Abstract, Speaker-Bio, Einreichung<br />(30 - 60 Minuten)</a>
            </div>
            <br/>
            <div class="text-center">
                <a class="btn btn-primary">Part 2:<br />Vortragsplanung und -Vorbereitung, Generalprobe, Auftritt und Nachbereitung<br />(30 - 60 Minuten)</a>
            </div>
            <br />
            <div class="text-center">
                <a class="btn btn-primary">Ganztages-Workshop:<br />Interaktiver Workshop mit allen Inhalten und Materialien und individueller Beratung<br />(ganztägig)</a>
            </div>
        </div><!--//lead-form-wrapper-->
    </div><!--//container-->
</section><!--//form-section-->
