<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

	{% include header.html %}
	{% include hero.html %}
	{% include benefits.html %}

<!--
{% include missionstatement.html %}
-->

	{% include audience.html %}
	{% include booksection.html %}
	<br/>
	{% include talksection.html %}
	<br/>
	{% include unconfsection.html %}
	<br/>
	{% include coachingsection.html %}
	<br/>
	{% include communitysection.html %}
	<br/>
	{% include materials.html %}
	{% include about.html %}
	{% include newsletter.html %}
	{% include contact.html %}
	{% include footer.html %}
	{{ content }}
	{% include footer.html %}

	{% include scripts.html %}

</body>
</html> 
